@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Slabo+27px&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


body, html {
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
}

/* Text styles */

.fact-section {
    margin-bottom: 30px;
    background-color: beige;
}

.fact-text {
  flex:1;
  padding:1rem;
  font-size: 1.2em;
}

h2 {
    text-align: center;
}

#fact1 .important-text {
    font-size: 2em;
    font-weight: bold;
    color: rgb(16, 80, 16);
}

#fact1 h2 {
    color: rgb(16,80,16);
}

#fact2 .important-text{
    font-size: 2em;
    font-weight: bold;
    color: rgb(214, 162, 19);
}

#fact2 h2 {
    color: rgb(214, 162, 19);
}

#fact3 h2 {
    color:rgb(105, 4, 4)
}

#fact3 .important-text{
    font-size: 2em;
    font-weight: bold;
    color: rgb(105, 4, 4);
}
/* Image styles */

header#home.hero img {
  width: 100vw;    
  height: 25vh;   
  height: 500px;
  object-fit: cover; 
  max-width: none;
  filter : brightness(40%);
  margin-bottom: 30px;
}

.fact-image {
  flex: 0 0 400px;
}

.fact-image img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 10%;
}


/* Container styles */

.flex-container,
.flex-container-reverse {
  display: flex;
  align-items: center;
  gap: 3rem;
  flex-direction: row;
  padding: 2rem;
}



/* Mobile style */

@media (max-width: 600px) {
  .flex-container, .flex-container-reverse {
    flex-direction: column;
    gap: 1rem;
  }

  .fact-image img {
    max-width: 100%;
    height: auto;
    margin: 0 auto 1rem auto;
    display: block;
  }
}