@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Slabo+27px&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
  box-sizing: border-box;
}

body, html {
    font-family: 'Lora', serif;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

/* Text styles */

.fact-section {
    margin-bottom: 30px;
    background-color: beige;
}

.fact-text {
  flex:1;
  padding:1rem;
  font-size: 1.2em;
}

h2 {
    text-align: center;
}

.important-text {
    font-size: 1.8em;
    font-weight: bold;
}

#fact1 .important-text, #fact1 h2 {

    color: rgb(16, 80, 16);
}

#fact2 .important-text , #fact2 h2 {
    color: rgb(214, 162, 19);
}

#fact3 .important-text, #fact3 h2 {
    color:rgb(105, 4, 4)
}

#fact4 .important-text, #fact4 h2 {
    color:rgb(95, 69, 21);
}

#fact5 .important-text, #fact5 h2 {
    color:darkblue
}

#About-us h2 {
    font-size: 2em;
    color:rgb(16, 80, 16);
}

#About-us p {
    max-width: 600px;
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0 auto;
}

.hero h1 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(223, 223, 223) ;
    font-size: 5rem;
    text-align: center;
    text-shadow: 3px 3px 9px rgba(0,0,0,0.7);
    z-index: 2;
}


/* Image styles */

.hero {
    position: relative;
    width: 100%;
    height: 40vh;
    background-image: url('assets/images/cover.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.6);
  z-index: 1;
}


.fact-image {
  flex: 0 0 400px;
  max-width: 400px;
}

.fact-image img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10%;
}


#logo img {
  max-width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
}

/* Container styles */

.flex-container,
.flex-container-reverse {
  display: flex;
  align-items: center;
  gap: 3rem;
  flex-direction: row;
  padding: 1rem;
}



#About-us .flex-container-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

/* Mobile style */

@media (max-width: 600px) {
  .flex-container, .flex-container-reverse {
    flex-direction: column;
    gap: 0.5rem;
  }

  .fact-image img {
    max-width: 100%;
    height: auto;
    margin: 0 auto 1rem auto;
    display: block;
  }
    .flex-container .fact-image,
    .flex-container-reverse .fact-image {
        order: -1; /* Force image to come first */
        margin-bottom: 0;
  }

}

.contact, .nav-container{
  display: flex; 
  flex-wrap:wrap;
  align-items: center; 
  justify-content: space-between;
}
.navbar{
  position: sticky;
  z-index: 999999;
  width: 100%;
  top: 0;   
  background-color: white;
  padding: 1rem;
  background-color: rgb(16, 80, 16);
  box-sizing: border-box;
}
.nav-logo{
    display: flex;
    font-size:2rem;
    color: beige;
    font-weight: bold;
    align-items: center;
    gap:1rem;
}

.nav-logo-icon {
  height: 2.3em;    /* adapte la taille de l'icône */
  width: auto;
  background-color: white;
}

.nav-menu{
  display:flex; 
  gap: 1rem;
}
.nav-menu li {
    border: 2px solid black;
    background-color: beige;
    border-radius: 5px;
}

.nav-menu li a {
  display: block;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  color: rgb(16, 80, 16);
  font-weight: bold;
}

/* Psuedo-class: any-link */
:any-link:hover{
  background-color: rgb(192, 192, 192); 
  text-decoration: none;
}
/* Psuedo-class: focus */
/* it looks so bad i'm sorry */
:where(:any-link:focus){ 
  outline: none;
  font-weight:1000; 
} 

footer :where(img){
  max-height: 4rem;
}
footer{
  background-color: rgb(16, 80, 16);
  color: beige; 
}

/* Psuedo-class: visited */
a:visited{
  color:red; 
}

/* Psuedo-class: where() */
:is(ul){
  list-style-type: none;
  margin: 0;
  padding: 0;
}
:where(img){
  max-height: 50vh; 
}

/* Psuedo-class: has() */
/* it's becoming less meaningful */
.fact-section{
  border: 1px solid black; 
}

#nav-words{
  font-size: 1.25rem;
}


/* Psuedo-class placeholder-shown */
/* I don't think this is right.  */
:placeholder-shown {
  background-color: lightcyan; 
}
.socialmedia{
  display: flex; 
  flex-wrap: wrap;
}
.contact3{
  padding-left: 1rem;
  min-width: 10rem;
}
#copyright{
  min-width: 15rem; 
}
